services:
  nginx:
    image: nginx:latest
    container_name: nginx
    network_mode: service:wireguard
    volumes:
      - ./html/:/usr/share/nginx/html
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wireguard
    restart: unless-stopped
    environment:
      - PUID=1000 
      - PGID=1000
      - SERVERPORT=51820
      - INTERNAL_SUBNET=10.8.0.0/24
    volumes:
      - ./wireguard/wg0.conf:/config/wg0.conf
    ports:
      - 51820:51820/udp
    sysctls:
      net.ipv4.ip_forward: 1
      net.ipv4.conf.all.src_valid_mark: 1
    cap_add:
      - NET_ADMIN
      - SYS_MODULE